#s_leaderboardPage{
	display:none;
}
#b_admin{
	display:none;
}
#p_gameStatus{
	font-size: 140%;
}
nav{
	background-color: #e3f2fd;
}
.card{
	width: 15rem;
}
#lp_loading{
	width:3rem;
	height:3rem;
}
#s_loginPage{
	display: block;
	height:95vh;
}
#s_homePage{
	display:none;
	height:95vh;
}
#s_gamePage{
	display:none;
}
#s_registerPage{
	display:none;
}
.bHeight{
	height:88vh;
}
.hHeight{
	height:7vh;
}
canvas{
	display:block;
}
.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}
.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}
#s_adminPage {
  display: none;
  height: 86vh;
  overflow: scroll;
}

#b_lpAdmin {
  display: none;   /* none = don't display element */
}

#b_gpAdmin {
  display: none;   /* none = don't display element */
}
